.userCtrl{
  width: 250px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userCtrl__signIn{
  width: 90px;
  height: 23px;
  margin-right: -17px;
}
.userCtrl__userPic_default{
  position: relative;
}
.userCtrl__signUp{
  width: 90px;
  height: 23px;
  margin-left: -17px;
}
