.header-logo{
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.header-logo__pic {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
