.slider__item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.slider__item_pos2, .slider__item_pos3, .slider__item_pos4, .slider__item_pos5{
  position: absolute;
  top: 141px;
}
.slider__poster{
  width: 195px;
  height: 299px;
}
.slider__poster_pos2{
  transform:rotate(2deg);
  transform-origin: bottom right;
  z-index: -1;
}
.slider__poster_pos3{
  transform:rotate(4deg);
  transform-origin: bottom right;
  z-index: -2;
}
.slider__poster_pos4{
  transform:rotate(6deg);
  transform-origin: bottom right;
  z-index: -3;
}
.slider__poster_pos5{
  transform:rotate(8deg);
  transform-origin: bottom right;
  z-index: -4;
}
.slider__image{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__description{
  width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.slider__description_pos2, .slider__description_pos3, .slider__description_pos4,.slider__description_pos5{
  display: none;
}
.slider__descriptionHeading{
  font-size: 24px;
}
.slider__descriptionButton{
  width: 84px;
  height: 23px;
}


